/*elementos personalizado*/
textarea {

  border-radius: 5px;
  border: 1px solid #ccc;
}


.textNumber {
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 80px;
  margin-bottom: 60px;
}

.textMarcacao
{
  font-size: large;
  font-weight: bolder;
  color: #4527A0;
}

.borda {
  border-bottom: 3px solid #80D8FF;
  padding: 0px;
}

.confirmButton {
  border: 1px solid;
  border-radius: 5px;
  border-color: #40C4FF;
  background-color: #40C4FF;
  width: 300px;
  height: 30px;
  color: white;
  font-weight: 800;
}

/*Estilo da fonte*/
.LetterCifra {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 200;
}

.title {
  text-align: center;
}

/*espaço ao redor de elementos*/
.marginCipher {
  margin: 50px;
}

/* selecionar elementos quando passa o mouse sobre eles*/
input:hover, textarea:hover {
  border: 1px solid;
  border-radius: 5px;
  border-color: #40C4FF;
}

/*espaço em torno do conteúdo de um elemento */
.directionAlphabet {
  padding: 10px;
}

/*Crie duas colunas iguais que flutuam próximas umas das outras */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Layout responsivo - torna as duas colunas empilhadas umas em cima das outras em vez de próximas umas das outras */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

/*  O switch - a caixa ao redor do controle deslizante   */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
  margin-top: 2px;
  margin-bottom: 2px;
}

/*  Ocultar caixa de seleção padrão de HTML   */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* O slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #B388FF;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #40C4FF;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Sliders arredondados */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
